---
import "./modal.scss";
import ModalLoad from "./ModalLoad.astro";
type Props = {
  id: string;
  className?: string;
  closeButton?: boolean;
};
const { id, className = "" } = Astro.props;
---

<template id={`jd-modal-template-${id}`}>
  <section
    class={`jd-modal ${className}`}
    id={`jd-modal-${id}`}
    style="display: none"
  >
    <div class="jd-modal__wrapper">
      <div class="jd-modal__content">
        <slot />
      </div>
    </div>

    <div class="jd-modal__loading" style="display: none">
      <ModalLoad />
    </div>

  </section>
</template>
<script src="./modal.ts"></script>
