---
import { Icon } from "astro-icon";
import ContentSection from "./content-section.astro";
---

<ContentSection title="Contact" id="contact">
  <div class="mx-auto max-w-2xl">
    <div class="mb-4 flex items-center">
      <p>
        Phone: <a href="tel:50325198170" class="text-blue-500"
          >+(503) 2519-8170</a
        >
      </p>
    </div>
    <div class="mb-4 flex items-center">
      <p>
        Phone: <a href="tel:12143171065" class="text-blue-500"
          >+1 (214) 317 1065</a
        >
      </p>
    </div>
    <div class="mb-4 flex items-center">
      <p>
        Email: <a href="mailto:info@jdoutstanding.com" class="text-blue-500"
          >info@jdoutstanding.com</a
        >
      </p>
    </div>
    <div class="mb-4 flex items-center">
      <p>
        Get a quote <a
          href="https://jdoutstanding.com/get-a-quote/"
          class="text-blue-500">here!</a
        >
      </p>
    </div>
  </div>

  <h2 class="gradient-text text-center font-extrabold tracking-tight text-3xl">
    Our passionate team is ready to bring your ideas to life!
  </h2>
</ContentSection>
