---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import logo from "~/assets/jdk-logo-alt.png";
---

<ContentSection title="" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <img
    slot="eyebrow"
    class="w-1/2 max-w-xs self-end sm:w-10/12 sm:self-auto sm:justify-self-end"
    src={logo.src}
    alt="JDK Portfolio Showcase Logo"
  />
  <Fragment slot="lead">
    Welcome to our Portfolio, where
    <span class="text-primary">innovation</span> and
    <span class="text-primary">creativity</span>
    collide to bring you the <span class="text-primary"
      >very best in web design and development</span
    >.
  </Fragment>
  <div class="grid grid-cols-1">
    <a
      href="#showcase"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Projects</span>
    </a>
  </div>
</ContentSection>
