---
type Props = {
  className?: string;
  slides: any[];
};
const { className, slides } = Astro.props;
---
<>

<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            {
                slides.map((slide, index) => (
                    <div key={index} class="swiper-slide">
                        <img src={slide.src} alt={slide.title} />
                    </div>
                ))
            }
        </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

    <style>
        .swiper {
            width: 600px;
            height: 300px;
        }
    </style>
<>


<script>
    // core version + navigation, pagination modules:
    import Swiper, { Navigation, Pagination } from 'swiper';
    // import Swiper and modules styles
    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';

    // init Swiper:
    const swiper = new Swiper('.swiper', {
        // configure Swiper to use modules
        modules: [Navigation, Pagination],

        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>